html { 
    justify-content: center;
    font-size: small;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}

body {
    background-image: url('img/flowers.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    height: 100%;
}
/*top of page grid*/
.container {  
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns of equal width */
    gap: 5px; /* Gap between grid items */
    background-color: pink;
    border: 2px solid hsl(327, 97%, 49%);
    padding: 5px;
    padding: 5px;
    justify-items: center; /* Center items horizontally */
    align-items: center;
}
.contact-section {
    grid-column: 2 / span 4; /* Span 4 columns */
    grid-row: 1;
    background-color: white;
    padding: 20px;
    border: 1px solid #2caa13;
    text-align: center;
    width: 100%; /* Ensure it takes full width of the spanned columns */
    max-width: 600px;
    
}
