html { 
    justify-content: center;
    font-size: small;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}

body {
    background-image: url('img/flowers.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    height: 100%;
}
/*top of page grid*/
.container {  
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 6 columns of equal width */
    gap: 5px; /* Gap between grid items */
    background-color: pink;
    border: 2px solid hsl(327, 97%, 49%);
    padding: 5px;
}
/* Grid item styles */
.container > div {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
} 
/* Image container styles */
.container img {
    flex: 1 1 calc(25% - 20px); /* 6 items  */
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 