/* Form sign in sign up styles */
html { 
    justify-content: center;
    font-size: small;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}

body {
    background-image: url('img/flowers.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    height: 100%;
}
/*top of page grid*/
.container {  
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 5 columns of equal width */
    gap: 5px; /* Gap between grid items */
    background-color: pink;
    border: 2px solid hsl(327, 97%, 49%);
    padding: 5px;
}
/* Grid item styles */
.container > div {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
} 
/* Image container styles */
.container img {
    flex: 1 1 calc(25% - 20px); /* 5 items  */
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 
header {
    font-size: medium;
    margin: 1rem;
    padding: 1rem;
    color: #171716;
    background-color: pink;
    border: 2px solid hsl(330, 97%, 49%);
    border-radius: 8px;

}
.login-container {

    background-color: pink;
    border: 2px solid hsl(327, 97%, 49%);
    padding: 5px;
    width: 50%;
    border-radius: 8px; /* Full width */
    
}
input {
    width: 100%;
    background: transparent;
    border:0;
    outline: 0;
    padding: 10px 5px;
}


.button {
    height: 40px;
    flex-basis: 48%;
    background: #8b089f;
    border-radius: 20px;
    border: 0;
    color: #fff
    cursor: pointer;
    font-size: 18px;

}
.btn-field button.disable {
    background: #ccc;
    color: #555;
}