/* Form container */   
form {
    font-size: small;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    margin: 1px auto;
    padding: 10px;
    background-color: rgb(26, 238, 7);
}
/* Input fields */
input[type=text], input[type=password] {
    width: 100%;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
}
/* Buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 1px 1px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}
/* Cancel button */
.cancelbtn {
    width: auto;
    padding: 1px 1px;
    background-color: #f44336;
}
/* Remember me checkbox */
input[type=checkbox] {
    margin-top: 16px;
}
/* Responsive design */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
