body {
background: #8C52FF;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-sarif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;

}

#weather-container {
background: rgba(255, 255, 255, 0.3);
max-width: 400px;
padding 20px;
border-radius: 15px;
box-shadow: 0 8px 32px rgba (0, 0, 0, 0.1);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.1);
text-align: center;

}